body{
	background-image: url('../img/bkg_inpe_logo.png');
	background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
	margin-right: 10px;
	margin-left: 10px;
	width: 99%;
}
.btn_tools{
	position: absolute;
	cursor: pointer;
	top: inherit;
}
.btn-download{
	cursor: pointer;
    position: absolute;
	top: -1px;
	right: 10px;
}
.dc-chart path.line {
	stroke-width: 3px;
}
.dc-chart rect.bar {
	fill-opacity: 0.8;
}
.dc-chart rect.selected {
	fill: #e9e99c;
}
.reset, .dc-chart .pie-slice, .dc-chart g.row text{
	fill: #000000;
	font-size: smaller;
}
.y-axis-label, .x-axis-label{
	font-size: small;
}
.nav li.active #txt2{
	color: black;
	background-color: white;
	line-height: 22px;
}
#txt1{
	line-height: 22px;
}
.navbar{
	border-bottom: 0px;
}
.navbar-nav {
	font-size: large;
}
.navbar-inverse .navbar-nav li a {
    color: #dedede;
}
.navbar-inverse .navbar-brand {
    color: #f5f5f5;
}
#print_information,#display_error,#display_loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	background-color: rgba(52, 73, 99, 0.7);
}
#display_error,#display_loading{
	display:none;
	background-color: white;
}
.info_p,#inner_display_error{
	width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 20px;
    background-color: #fffe94;
    border-radius: 5px;
    border: solid 1px #ccc;
}
#inner_display_loading{
	width: 10%;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 100px;
}
#print_page{
	display: inline-block;
	position: relative;
	width: 100%;
    text-align: end;
	cursor: pointer;
	color: #333;
}
#dtn_refresh{
	display: inline;
    position: absolute;
    right: 5px;
	top: 5px;
	cursor: pointer;
}
.dc-chart{
	width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.reset{
	background-color: rgb(220, 241, 186);
	border-radius: 8px;
	border: rgb(187, 224, 123) solid 1px;
	fill: black;
	font-size: x-small;
	text-align: left;
}
.glyphicon{
	color: #368fb3;
	display: none;
}
#display_warning, .glyphicon-trash{
	display: unset !important;
}
.nav .glyphicon, button .glyphicon{
	color: #ffffff;
	display: unset;
}
.nav li a:hover, .nav li a:focus,.nav a:hover .glyphicon, .nav a:focus .glyphicon {
	background-color: white !important;
	color: black !important;
	margin-left: 2px;
	margin-right: 2px;
}
.navbar-right li a:hover,.navbar-right li a:focus{
	background-color: inherit !important;
	color: inherit !important;
	margin: 0px;
}
.keep-space{
	position: relative;
	height: 18px;
    margin-bottom: 3px;
}
.info{
	text-align: center;
	font-size: large;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.all-charts-title {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
#footer_page{
	display: none;
	text-align: center;
	color: gray;
	width: 98%;
	border-top: rgb(187, 224, 123) solid 1px;
	left: 1%;
	right: 1%;
	bottom: 0px;
}
#footer_print{
	display: none;
}