body{
	background-color: #FFFFFF;
}
.container{
	margin-right: 10px;
	margin-left: 10px;
	width: 99%;
}
.btn_tools{
	position: absolute;
	cursor: pointer;
	top: inherit;
}
#btn_print{
	right: 27px;
}
#btn_down{
	right: 4px;
}
.dc-chart path.line {
	stroke-width: 3px;
}
.dc-chart rect.bar {
	fill-opacity: 0.8;
}
.dc-chart .pie-slice, .dc-chart g.row text{
	fill: black;
	/*font-size: medium;*/
}
.reset{
	background-color: rgb(220, 241, 186);
	border-radius: 8px;
	border: rgb(187, 224, 123) solid 1px;
	fill: black;
	font-size: x-small;
}
.info{
	text-align: center;
	font-size: large;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.barLabel{
	font-size: x-small;
}
.table-header{
	font-weight:bold;
	background-color: rgba(130, 179, 181, 0.49);
}
.keep-space{
	height: 18px;
}
#download{
    width: 170px;
    position: absolute;
    right: 10px;
    top: -6px;
    padding: 2px;
}
#footer_page{
	text-align: center;
	color: gray;
	/*position: absolute;*/
	width: 98%;
	border-top: rgb(187, 224, 123) solid 1px;
	left: 1%;
	right: 1%;
	bottom: 0px;
}
#footer_print{
	display: none;
}
